<div class="row border py-2 ">
    <div class="col-3 text-center">
        {% if previous_url %}
            <a class="btn btn-outline-primary" href="{{ previous_url }}">&lt</a>
        {% endif %}
    </div>
    <div class="col-6 text-center">
        <a class="btn btn-outline-primary" href="{% url 'activity:summary' item.activity.slug %}">
            Summary Page
        </a>
    </div>
    <div class="col-3 text-center">
        {% if next_url %}
            <a class="btn btn-outline-primary" href="{{ next_url }}">&gt</a>
        {% endif %}
    </div>
</div>
