header, footer {
    background: #d40000;
    color: #ffdd55;
}

header a {
    color: #ffdd55;
    text-decoration: none;
}

header h3 {
    font-family: 'Gloria Hallelujah', cursive;
}

header img {
    vertical-align: top;
}

header li, span {
    color: #ffdd55;
}

header ul {
    justify-content: flex-end;
}

