header, footer {
    background: #d40000;
    color: #ffdd55;
}

header a {
    color: rgba(255, 221, 85, 0.8);
    text-decoration: none;
}

header a:hover {
    color: rgba(255, 221, 85, 1.0);
    text-decoration: none;
}

header img {
    vertical-align: top;
    opacity: 0.8;
}

header img:hover {
    opacity: 1.0;
}

header li span {
    color: #ffdd55;
}

header ul {
    justify-content: flex-end;
}

header button span {
    border: 1px solid #ffdd55;
    border-radius: 5px;
}

.bg-primary, .btn-primary {
    background: #2eb873 !important;
    color: #fff;
    border-color: #2eb873 !important;
}

.btn-primary:hover {
    background: #0e9853 !important;
    color: #fff;
    border-color: #0e9853 !important;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 .2rem rgba(46, 184, 115, 0.5) !important;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled) .active,
 .btn-primary:not(:disabled):not(.disabled) .active .focus{
    background: #0e9853 !important;
    border-color: #2eb873 !important;
}

.btn-outline-primary {
    background: #fff;
    border-color: #2eb873;
    color: #2eb873;
}

.btn-outline-primary:hover {
    background: #2eb873;
    color: #fff;
    border-color: #2eb873;
}

.btn-outline-primary.focus, .btn-outline-primary:focus {
    box-shadow: 0 0 0 .2rem rgba(46, 184, 115, 0.5);
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
 .btn-outline-primary:not(:disabled):not(.disabled):active:focus,
 .btn-outline-primary:not(:disabled):not(.disabled).active
 .btn-outline-primary:not(:disabled):not(.disabled).active:focus{
    background: #0e9853 !important;
    border-color: #2eb873 !important;
}

.header-text {
    font-family: 'Gloria Hallelujah', cursive;
}

.text-primary {
    color: #2eb873 !important;
}

