{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p class="text-danger">Your username and password did not match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p class="text-danger">Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p class="text-danger">Please login to see this page.</p>
    {% endif %}
{% endif %}

<h3 class="text-center text-primary mt-3">Welcome to the St. Basil Confirmation Website!</h3>
<p class="lead text-center text-primary">Enter the Username and Password you were given. Both are case-sensitive.</p>
<div class="row">
    <div class="col-6 mx-auto">
        <form method="post" action="{% url 'user:login' %}">
            {% csrf_token %}
            <div class="input-group input-group-lg my-3">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-primary">
                        <i class="fas fa-user"></i>
                    </span>
                </div>
                <input type="text" name="username" id="id_username" required class="form-control" placeholder="Username">
            </div>
            <div class="input-group input-group-lg mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-primary">
                        <i class="fas fa-key"></i>
                    </span>
                </div>
                <input type="password" name="password" id="id_password" required class="form-control" placeholder="Password">
            </div>
            <input type="submit" value="login" class="btn btn-primary btn-block">
            <input type="hidden" name="next" value="{{ next }}">
        </form>
    </div>
</div>


{% endblock %}