{% extends parent_template|default:"activity/base-activity.html" %}

{% block title %}
    {{ block.super }}|Multi-Choice Response
{% endblock %}

{% block item-content %}
    {% if not response %}
        <form action="{% url 'activity:item' item.activity.slug item.index %}" method="post">
            {% csrf_token %}
            {% if error_message %}
                <h3 class="text-danger">{{ error_message }}</h3>
            {% endif %}
            {% for choice in choices %}
                <div class="form-check ml-3 ml-sm-5 my-4">
                    <h4>
                        <input class="form-check-input mt-2" type="radio" name="choice"
                               value="{{ forloop.counter }}" id="radio{{ forloop.counter }}">
                        <label class="form-check-label" for="radio{{ forloop.counter }}">{{ choice }}</label>
                    </h4>
                </div>
            {% endfor %}
            <div class=" row justify-content-center">
                <input class="btn btn-outline-primary btn-lg" value="Submit Response" type="submit"/>
            </div>

        </form>
    {% endif %}
{% endblock %}