{% extends parent_template|default:"activity/base-activity.html" %}

{% block title %}
    {{ block.super }}|Multi-Choice Report
{% endblock %}

{% block item-content %}
    <ul class="list-group ml-3 ml-sm-5 my-4">
        {% for choice in choices %}
            <h4>
                <li class="list-group-item">
                    <div class="mb-1">{{ choice }}</div>
                    <div class="progress">
                        <div class="progress-bar" style="width: {{ choice.percent_of_total }}%">
                            {{ choice.percent_of_total }}%
                        </div>
                    </div>
                </li>
            </h4>
        {% endfor %}
    </ul>
    {% include 'navigation.html' %}

{% endblock %}