{% extends parent_template|default:"activity/base-activity.html" %}

{% block title %}
    {{ block.super }}|Multi-Choice Response
{% endblock %}

{% block item-content %}
    {% if not completed %}
        <form action="{% url 'survey:item' item.activity.slug item.index %}" method="post">
            {% include 'activity/true-false.html' %}
        </form>
    {% else %}
        <div class="my-4">
            {% if item.privacy_type == 'AN' %}
                <h5 class="text-primary">
                    Your response was saved anonymously on {{ completed.created }}
                </h5>
            {% else %}
                {% with response.true_false as true_false %}
                    <p>
                        You answered {{ true_false }}
                    </p>
                    {% if item.reveal_answer %}
                        {% if response.correct %}
                            <p>That is correct!</p>
                        {% else %}
                            <p>Sorry! That is not correct.</p>
                        {% endif %}
                        {% if item.explanation != '' %}
                            <p>{{ item.explanation }}</p>
                        {% endif %}
                    {% else %}
                        {% include 'activity/edit-delete.html' %}
                    {% endif %}
                {% endwith %}
            {% endif %}
        </div>
    {% endif %}
    {% include 'navigation.html' %}
{% endblock %}